/* your styles go here */
.delete {
    border: 2px solid;
    padding: 5px 10px;
    display: inline-block;
    color: #f63333;
	border-radius: 4px;
}
.delete:hover{
	border: 2px solid #f63333;
    background-color: #f63333;
    color: #fff;
}


canvas.image-previewer {
    width: 300px;
}

